
<p>verb works!</p>
<p> Verb </p>
<button type="button" class="btn btn-light" (click)="getVerb()">
<ul *ngFor="let item of verb">
    <li >{{item.Translation}}</li>
    <li>{{item.Infinitive}}</li>
    <li>{{item.ConjugationTense}}</li>
    <li>{{item.ConjugationIch}}</li>
    <li>{{item.ConjugationDu}}</li>
    <li>{{item.ConjugationEr}}</li>
    <li>{{item.ConjugationWir}}</li>
    <li>{{item.ConjugationIhr}}</li>
    <li>{{item.Conjugationsie}}</li>
    <li>{{item.ConjugationSie}}</li>
</ul>
</button>
