
.icon-ok:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e807'; } /* '' */
.icon-off:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-mail-1:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-keyboard:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-floppy:before { content: '\e812'; } /* '' */
.icon-clipboard:before { content: '\e813'; } /* '' */
.icon-home-1:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-cog-1:before { content: '\e819'; } /* '' */
.icon-loop:before { content: '\e81c'; } /* '' */
.icon-easel:before { content: '\e81e'; } /* '' */
.icon-mail-3:before { content: '\e81f'; } /* '' */
.icon-plus:before { content: '\e822'; } /* '' */
.icon-right-fat:before { content: '\e823'; } /* '' */
.icon-left-fat:before { content: '\e824'; } /* '' */
.icon-folder-open:before { content: '\e826'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */