<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="PictureStyle">
      <div class="col-sm-12 col-md-4 ">
        <div class="card text-info bg-dark mb-3" >
          <img class="card-img-top" src="assets/img/deutsch-klasse.jpg">
          <div class="card-body">
            <p class="card-text"> Deutsch Klasse</p>
          </div>
        </div>
      </div>
    </div>

    <div class="PictureStyle">
      <div class="col-sm-12 col-md-4 ">
        <div class="card text-info bg-dark mb-3" >
          <img class="card-img-top" src="assets/img/deutsch-lernen.jpg" >
          <div class="card-body">
            <p class="card-text"> Deutsch lernen</p>
          </div>
        </div>
      </div>
    </div>

    <div class="PictureStyle">
      <div class="col-sm-12 col-md-4 ">
        <button class="emptyButtonStyle" (click)="goDictionary()">
          <div class="card text-info bg-dark mb-3">
            <img class="card-img-top" src="assets/img/homer-grass.jpg" >
            <div class="card-body">
              <p class="card-text">Deutsch nicht mehr lernen</p>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
