<p>textfield works!</p>

<div class="card text-info bg-dark mb-3">
  <div class="card-header">
    Ubungen 1
  </div>
  <div class="card-body">
    <h5 class="card-title">Frau Trude</h5>
    <p class="card-text">Es war einmal ein kleines Mädchen, das war eigensinnig und vorwitzig,
      und wenn ihm seine Eltern etwas sagten, so gehorchte es nicht.
      Wie konnte es da nur gut gehen? Eines Tages sagte es zu seinen Eltern:
      „Ich habe so viel von der Frau Trude gehört, ich will einmal zu ihr hingehen, die Leute sagen, es sehe so wunderlich bei ihr aus.
      Und sie erzählen, es seien so seltsame Dinge in ihrem Hause, da bin ich ganz neugierig geworden.
       Die Eltern verboten es ihr streng und sagten:
      Die Frau Trude ist eine böse Frau, die gottlose Dinge treibt, und wenn du zu ihr hingehst, so bist du nicht mehr unser Kind.
       Aber das Mädchen scherte sich nicht um das Verbot seiner Eltern und ging doch zu der Frau Trude.
    </p>
  </div>
  <label> Czemu dziewczynka chciała odwiedzić Panią Trude: </label>
  <button class="btn btn-info btn-margin" (click)="goAdjective()"> Dom Pani Trude wygląda dziwnie i ma wiele dziwnych rzeczy </button>
  <button class="btn btn-info btn-margin" > Pani Trude gotuje pyszne obiady </button>
  <button class="btn btn-info btn-margin" > Pani Trude nagradza kazde dziecko 5$ za powitanie </button>
  <button class="btn btn-info btn-margin" > Dziewczynka chciała pobawić się z kotem Pani Trude</button>
</div>
