<ng-container *ngIf="this.tasksList.length>0; else noTask">
  <div>
    Lista zadań
    <div  appDate [date] = 'task.created' *ngFor="let task of tasksList | sortName">
      <li>
        {{task.name | transformTask: '!'}}
        <button type="button" class="btn btn-danger" (click)="usun(task)"> Usuń </button>
        <button type="button" class="btn btn-success" (click)="zrobione(task)"> zrobione </button>
      </li>
    </div>
  </div>
</ng-container>
<ng-template #noTask>
  <div>
    Brak zadań
  </div>
</ng-template>
